<h1>World Count</h1>
<form action="count" method="post">
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <% if @error %>
        <p style="color: red;"><%= @error %></p>
    <% end %>
    <button type="submit">Count!</button>
</form>
