<h1 class="text-center mt-5 mb-5">Word Count</h1>
<form action="count" method="post">
    <textarea name="text" id="text" class="form-control <% if @error %>is-invalid<% end %>" placeholder="Type your text here" aria-describedby="validationFeedback"></textarea>
    <div id="validationFeedback" class="invalid-feedback"><%= @error %></div>
    <button class="btn btn-primary mt-3" type="submit">Submit</button>
</form>
